{% extends "base.html" %}
{% block title %} GIMA{% endblock %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
{%block css %}



{% endblock css %}
<br>
<div class=" container-sm container-fluid">
<h4>Consulta General: CBU Contribuyentes</h4>
</div>
<br>
<form class="d-flex" method="get" enctype="multipart/form-data">
  
  <div class="container-sm col-2 text-center">
    {{filtro_cbu.form.demandado|as_crispy_field}}
  </div>
    <div class="container-sm col-2 text-center">
      {{filtro_cbu.form.cuit|as_crispy_field}}
    </div>
    <div class="container-sm col-2 text-center">
      {{filtro_cbu.form.adjudicacion|as_crispy_field}}  
    </div>
  <div class="container">
    <p></p>
    <br>
    <button class="btn btn-outline-success" type="submit">Buscar</button>
  </div>
</form>
<br>

<div class="container-fluid">
    <table class="table table-bordered table-hover">
        <thead>
            <tr class= "table-active text-center">
                <th scope = "col">Demandado</th>
                <th scope = "col">CUIT</th>
                <th scope = "col">Banco</th>
                <th scope = "col">CBU</th>
            </tr>
        </thead>
        <tbody>
            {% for cbu in cbu %}
            <tr>
                <td>{{cbu.adjudicacion.apellido_nombre}}</td>
                <td>{{cbu.cuit}}</td>
                <td>{{cbu.banco}}</td>
                <td>{{cbu.cbu}}</td>
              {% endfor %}
            </tr>
        </tbody>
    </table>
</div>
<br>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
      {% if expedientes.has_previous %}
      <li class="page-item"><a class="page-link" href= "?page=1">&laquo Primera</a></li>
      <li class="page-item"><a class="page-link" href= "?page={{expedientes.previous_page_number}}">Previa</a></li>
      {% endif %}
      

      <li class="page-item disabled"><a href="#" class= "page-link">Página {{ expedientes.number }} of 
          {{ expedientes.paginator.num_pages }}</a></li>
      
      {% if expedientes.has_next %}
      <li class="page-item"><a class="page-link" href= "?page= {{expedientes.next_page_number }}">Siguiente</a></li>
      <li class="page-item"><a class="page-link"href= "?page={{ expedientes.paginator.num_pages }}"> Última &raquo </a></li>
      {% endif %}
  </ul> 
</nav>


            

{% endblock %} 