{% extends "base.html" %}
{% block title %} GIMA{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
  
<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-md-12"><h2>Gestión de Embargos Mandatario: {{lista_datos.nombre}} {{lista_datos.apellido}}</h2></div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm">
                <div class="card text-center text-white bg-info" style="max-width: 18rem;">
                    <div class="card-header"><h5>Total Embargos</h5></div>
                    <div class="card-body">
                        <h5 class="card-title">{{total_embargos}}</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card text-center text-white bg-danger" style="max-width: 18rem;">
                    <div class="card-header"><h5>Embargos Trabados</h5></div>
                    <div class="card-body">
                        <h5 class="card-title">{{embargo_trabado}}</h5>
                    </div>
                </div>
            </div>    
            <div class="col-sm">
                <div class="card text-center text-white bg-success mb-3" style="max-width: 18rem;">
                    <div class="card-header"><h5>Embargos Levantados </h5></div>
                    <div class="card-body">
                        <h5 class="card-title">{{embargo_levantado}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>      
<br>

<form method="get" enctype="multipart/form-data" id="filter-form">
    {% csrf_token %}
<div class="container border border-dark bg-light p-3">
        <div class="row">
            <div class='col-md-12'>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        {{filtro_exped_embargo.form.estado|as_crispy_field}}
                    </div>
                    <div class="form-group col-md-2">
                        {{filtro_exped_embargo.form.clase_embargo|as_crispy_field}}
                    </div>
                    <div class="form-group col-md-3">
                        {{filtro_exped_embargo.form.dia_ingreso_embargo_desde|as_crispy_field}}
                    </div>
                    <div class="form-group col-md-3">
                        {{filtro_exped_embargo.form.dia_ingreso_embargo_hasta|as_crispy_field}}
                    </div>
                    <div class="form-group col-md-2">
                        <input type = "submit" value="Buscar" class = "btn btn-secondary" style="margin-top:1.9rem;">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-10 row">
                        <label class="col-md-2 mt-2">Ordenar por</label>
                        <select id="ordenar" name="ordenar" class="select form-control col-md-3" style="margin-left:-2.5rem;">
                            <option value="">...</option>
                            <option value="-fecha_pedido_git">Fecha ingreso ASC</option>
                            <option value="fecha_pedido_git">Fecha ingreso DESC</option>
                            <option value="monto_embargado">Monto embargado ASC</option>
                            <option value="-monto_embargado">Monto embargado DESC</option>
                
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button id="download-btn" class="col-md-12 btn btn-secondary">Descargar Planes</button>
                    </div>
                </div>
            </div>
        </div>
</div>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div id="alert-container"></div>
            <table class="table table-bordered table-hover" style="width:100%">
                <thead>
                    <tr class= "table-active text-center">
                        <th scope = "col">Demandado</th>
                        <th scope = "col">Adjudicación</th>
                        <th scope = "col">Inscripto</th>
                        <th scope = "col">Monto Embargado</th>
                        <th scope = "col">Tipo Embargo</th>
                        <th scope = "col">Estado</th>
                        <th scope = "col">Fecha de Ingreso</th>
                        <th scope = "col">Orden de Lev.</th>
                        <th scope = "col">Fecha carga Lev.GIT</th>
                        <th scope="col">Ofic. Levantamiento</th>
                        <th scope = "col">Plan de Pagos</th>
                        <th colspan = "2">Edición</th>   
                    </tr>
                </thead>
            <tbody>
                {% for embargo in embargos_seccion %}
                <tr>
                    <td class="align-middle text-left">{{embargo.adjudicacion.apellido_nombre}}</td>
                    <td class="align-middle text-center">{{embargo.adjudicacion.adjudicacion}}</a></td>
                    <td class="align-middle text-center">{{embargo.adjudicacion.nro_inscripto}}</td>
                    <td class="align-middle text-center"> $ {{embargo.monto_embargado}}</td>
                    <td class="align-middle text-center">{{embargo.tipo_de_embargo}}</td>
                    <td class="align-middle text-center">
                        <select class="select-estado select form-control"  id="estado-{{embargo.id}}" data-id="{{embargo.id}}">
                            <option {% if embargo.estado == 'Trabado' %} selected {% endif %}>Trabado</option>
                            <option {% if embargo.estado == 'Lev.solicitado' %} selected {% endif %}>Lev.solicitado</option>
                            <option {% if embargo.estado == 'Levantado' %} selected {% endif %}>Levantado</option>
                            <option {% if embargo.estado == 'Embargo' %} selected {% endif %}>Embargo</option>
                            <option {% if embargo.estado == 'S/Oficio' %} selected {% endif %}>S/Oficio</option>
                        </select>
                    </td>
                    <td class="align-middle text-center">{{embargo.fecha_pedido_git|date:"SHORT_DATE_FORMAT"}}</td>
                    <td class="align-middle text-center">{{embargo.orden_levantamiento}}</td>
                    <td class="align-middle text-center">{{embargo.fecha_levantamiento_git|date:"SHORT_DATE_FORMAT"}}</td>
                    <td class="align-middle text-center"><a href="/media/{{embargo.oficio_lev_embargo}}" target= "_blank" class= "btn btn-outline-success btn-sm"> Ver oficio</a></td> 
                    <td class="align-middle text-center">{{embargo.adjudicacion.planes_de_pago.estado_del_plan}}</td>
                    <td class="align-middle text-center"><a class="btn btn-primary btn-sm" href="{% url 'git:actualizar_embargo' embargo.id%}">Actualizar</a></button></td>
                    <td class="align-middle text-center"><a class="btn btn-danger btn-sm" href="{% url 'git:eliminar_embargo' embargo.id%}">Eliminar</a></button></td>
                {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if embargos_seccion.has_previous %}
        <li class="page-item"><button type="submit" name="page" class="page-link" value="1">&laquo Primera</button></li>
        <li class="page-item"><button type="submit" name="page" class="page-link" value="{{embargos_seccion.previous_page_number}}">Previa</button></li>
        {% endif %}
        

        <li class="page-item disabled"><a href="#" class= "page-link">Página {{ embargos_seccion.number }} of 
            {{ embargos_seccion.paginator.num_pages }}</a></li>
        
        {% if embargos_seccion.has_next %}
        <li class="page-item"><button type="submit" name="page" class="page-link" value="{{embargos_seccion.next_page_number }}">Siguiente</button></li>
        <li class="page-item"><button type="submit" name="page" class="page-link" value="{{ embargos_seccion.paginator.num_pages }}"> Última &raquo </button></li>
        {% endif %}
    </ul> 
</nav>   
</form>
<br>

<script type="text/javascript">
    document.getElementById('download-btn').addEventListener('click', function(e){te
        e.preventDefault()

        let url = '{% url 'git:exportar_embargos' %}?'
        url+='seccion='
        url+='&estado='+ document.getElementById('id_estado').value
        url+='&clase='+ document.getElementById('id_clase_embargo').value
        url+='&desde='+ document.getElementById('id_dia_ingreso_embargo_desde').value
        url+='&hasta='+ document.getElementById('id_dia_ingreso_embargo_hasta').value
        
        window.open(url,'_blank')
    })
    $('#ordenar').on('change',()=>{
        $('#filter-form').submit()
      })
    $(document).ready(()=>{
        $('#ordenar').val('{{ordenar}}')
      })
    $('.select-estado').on('change',(e)=>{
        let embargo_id= e.target.dataset.id
        let estado = e.target.value
        $.ajax({
            url:"{% url 'git:cambiar_estado_embargo' %}",
            data:{
                pk:embargo_id,
                estado:estado
            }
        }).done((response)=>{
            console.log(response)
            $('#alert-container').append(`
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Estado de embargo actualizado.</strong> Los cambios impactaron en la base de datos.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            `)
        })
    })
</script>

{% endblock %} 