{% extends "base.html" %}
{% block title %} Expedientes GIT{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h3>Gestión de Expedientes GIT</h3>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-3">
      <div class="card bg-light text-center">
        <div class="card-body">
          <h5 class="card-title"><strong>Total Expedientes</strong></h5>
          <p><h5>{{contar_expe}}</h5></p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card bg-light card text-center">
        <div class="card-body">
          <h5 class="card-title"><strong>Planes Suscriptos</strong></h5>
          <a class="btn btn-outline-success" href="{%url 'git:planes'%}"><strong> Planes: {{contar_planes}}</strong></a></button>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card bg-light card text-center">
        <div class="card-body">
          <h5 class="card-title"><strong>Embargos Trabados</strong> </h5>
          <a class="btn btn-outline-danger" href="{%url 'git:embargos'%}"><strong> Embargos: {{contar_embargos}}</strong></a></button></li>
        </div>
      </div>
    </div>
  </div>
<br>
<form method="get" enctype="multipart/form-data" id="filter-form">
  {% csrf_token %}
<div class="container-fluid">
  <div class="pos-f-t">
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-light p-4">
            <div class="container-fluid">
              
              <div class="row">
                  <div class='col-md-12'>
                      <div class="form-row">
                          <div class="form-group col-md-1">
                            {{ filtro_exped_git.form.seccion | as_crispy_field }}
                          </div>
                          <div class="form-group col-md-1">
                              {{ filtro_exped_git.form.cuit | as_crispy_field }}
                          </div>
                          <div class="form-group col-md-2">
                              {{ filtro_exped_git.form.apellido_nombre | as_crispy_field }}
                          </div>
                          <div class="form-group col-md-1">
                              {{ filtro_exped_git.form.nro_inscripto | as_crispy_field }}
                          </div>
                          <div class="form-group col-md-1">
                              {{ filtro_exped_git.form.dominio | as_crispy_field }}
                          </div>
                          <div class="form-group col-md-1">
                              {{ filtro_exped_git.form.adjudicacion | as_crispy_field }}
                          </div>
                          <div class="form-group col-md-1">    
                              {{ filtro_exped_git.form.cod_imp | as_crispy_field }}
                          </div>
                          <div class="form-group col-md-1">
                              {{ filtro_exped_git.form.nro_exp | as_crispy_field }}
                          </div>
                          <div class="form-group col-md-1">    
                              {{ filtro_exped_git.form.año_exped | as_crispy_field }}
                          </div>            
                        </div>
                        <input type = "submit" value="Buscar" class = "btn btn-secondary">
                    </div>
              </div>
                
            </div>
          
        </div>
      </div>
      <nav class="navbar navbar-light mb-3" style="background-color: #ddd6d6">
        <span class="text"><strong>Buscador.</strong></span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
      <nav class="navbar navbar-light pt-2" style="background-color: #ddd6d6">
        <span class="text"><strong>Ordenar por</strong></span>
        <select id="ordenar" name="ordenar" class="select form-control col-md-2">
          <option value="">...</option>
          <option value="-f_inicio_juic">Fecha de inicio ASC</option>
          <option value="f_inicio_juic">Fecha de inicio DESC</option>
          <option value="imp_nominal">Monto ASC</option>
          <option value="-imp_nominal">Monto DESC</option>

        </select>
      </nav>
    </div>    
</div>
</div>

<br>
<div class="container-fluid">
    <table class="table table-bordered table-hover">
        <thead>
            <tr class= "table-active text-center">     
                <th scope = "col">Sección</th>
                <th scope = "col">Adjudicación</th>
                <th scope = "col">CUIT</th>
                <th scope = "col">Apellido_Nombre</th>
                <th scope = "col">Inscripto</th>
                <th scope = "col">Dominio</th>
                <th scope = "col">Impuesto</th>
                <th scope = "col">Importe</th>
                <th scope = "col">Fecha de Inicio</th>
                <th scope = "col">Jdo.</th>
                <th scope = "col">Sec.</th>
            </tr>
        </thead>
        <tbody>
            {% for expediente in expediente_git %}
            <tr>
                <td><a href= "{% url 'git:seccion' expediente.seccion %}">{{expediente.seccion}}</a></td>
                <td><a href= "{% url 'git:expediente_git' expediente.adjudicacion %}">{{expediente.adjudicacion}}</a></td>
                <td>{{expediente.cuit}}</td>
                <td><strong>{{expediente.apellido_nombre}}</strong></td>
                <td>{{expediente.nro_inscripto}}</td>
                <td>{{expediente.dominio}}</td>
                <td>{{expediente.cod_imp}}</td>
                <td><label>${{expediente.imp_nominal}}</label></td>
                <td>{{expediente.f_inicio_juic|date:"SHORT_DATE_FORMAT"}}</td>
                <td>{{expediente.juzgado}}</td>
                <td>{{expediente.secretaria}}</td>
            {%endfor%}
            </tr>          
        </tbody>
    </table>
    <br/><br/>
   <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if expediente_git.has_previous %}
            <li class="page-item"><button type="submit" name="page" class="page-link" value="1">&laquo Primera</button></li>
            <li class="page-item"><button type="submit" name="page" class="page-link" value="{{expediente_git.previous_page_number}}">Previa</button></li>
            {% endif %}
            

            <li class="page-item disabled"><a href="#" class= "page-link">Página {{ expediente_git.number }} of 
                {{ expediente_git.paginator.num_pages }}</a></li>
            
            {% if expediente_git.has_next %}
            <li class="page-item"><button type="submit" name="page" class="page-link" value="{{expediente_git.next_page_number }}">Siguiente</button></li>
            <li class="page-item"><button type="submit" name="page" class="page-link" value="{{ expediente_git.paginator.num_pages }}"> Última &raquo </button></li>
            {% endif %}
        </ul> 
    </nav>
 
</div>
</form>
    <br/>
<script type="text/javascript">
  $('#ordenar').on('change',()=>{
    $('#filter-form').submit()
  })
  $(document).ready(()=>{
    $('#ordenar').val('{{ordenar}}')
  })
</script>
{% endblock %} 