{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{%block titlte %} GIMA {% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      
        <link rel="stylesheet" href="{% static 'admin/css/vendor/select2/select2.css' %}">
        <link rel="stylesheet" href="{% static 'admin/css/autocomplete.css' %}" />
      </head>
    <body>
        <br>
    <div class= 'container'>
      <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6">
          <br>
          <br>
          <br>
          <div class="card-header bg-secondary text-center text-white">
            <h4>Sistema de Gestión Integral Mandatarios</h4>
          </div>
          <div class="card align-items-center bg-light border border-dark">
            <br>
              <strong><h4>Ingresar</h4></strong>
            <br>
            <form method="POST" action="">
              {% csrf_token %}
              <div>
                <input type="text" name="username" class="form-control" placeholder="username">
              </div>
              <br>
              <div>
                <input type="password" name= "password" class="form-control" placeholder="password">
              </div>
              <br>
              <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                <button type="submit" class="btn btn-primary btn-s">Ingresar</button>
              </div>
            </form>
                <br>
              <div class="row">
                Si no esta registrado haga click <a href="{% url 'git:register'%}"> -aquí-</a>
              </div>
        <div class="col">
        </div>
              <br>
              <div>
                {%for message in messages%}
                <p>{{message}}</p>
                {% endfor %}
              </div>
          </div>
        </div>
      </div>
    </div> 
    </body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



<script src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<script src="{% static 'admin/js/vendor/select2/select2.full.js' %}"></script>
<script src="{% static 'admin/js/jquery.init.js' %}"></script>
<script src="{% static 'admin/js/autocomplete.js' %}"></script>

</html>