{% extends "base.html" %}
{% block title %} GIMA{% endblock %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h3>Cargar Nuevo Plan</h3>
        </div>
    </div>
</div>        
<br/>
{% if submitted %}
<div class="container-sm">
    <div class="card">
        <div class="card-header">
            <h5>La operación se realizó con éxito!</h5>
        </div>
    </div>
</div>        
        {% else %}
        <div class="container-fluid row">
            <div class="col-md-8">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class='col-md-12'>
                            <div class="form-row">
                                <div class="form-group col-md-1">
                                </div>
                                <div class="form-group col-md-2">
                                    <div id="div_id_seccion" class="form-group">
                                        <label for="id_seccion" class=" requiredField">
                                            Seccion<span class="asteriskField">*</span>
                                        </label>
                                        <input name="seccion" class="form-control" id="id_seccion" required 
                                            readonly value="{{adjudicacion.seccion_id}}"
                                        />
                                    </div>
                                    {{ form_plan.modalidad_de_pago | as_crispy_field }}
                                    {{ form_plan.cuotas_de_honorarios | as_crispy_field }}
                                </div>
                                <div class="form-group col-md-2">
                                    <div id="div_id_adjudicacion" class="form-group">
                                        <label for="id_adjudicacion" class=" requiredField">
                                            Adjudicación<span class="asteriskField">*</span>
                                        </label>
                                        <input name="adjudicacion" class="form-control" id="id_adjudicacion" required 
                                            readonly value="{{adjudicacion}}"
                                        />
                                    </div>
                                    {{ form_plan.cantidad_de_cuotas_plan | as_crispy_field }}
                                    {{ form_plan.honorarios_mandatario | as_crispy_field }}
                                </div>
                                <div class="form-group col-md-2">
                                    {{ form_plan.fecha_de_suscripcion | as_crispy_field }}
                                    {{ form_plan.email | as_crispy_field }}
                                    {{ form_plan.honorarios_procuracion | as_crispy_field }}                              
                                </div>
                                <div class="form-group col-md-2">
                                    {{ form_plan.imp_actualizado | as_crispy_field }}
                                    {{ form_plan.celular | as_crispy_field }}
                                    {{form_plan.fecha_de_pago_honorarios | as_crispy_field }}  
                                </div>
                                <div class="form-group col-md-2">
                                    {{ form_plan.estado_del_plan | as_crispy_field }}                               
                                    {{ form_plan.archivo_plan | as_crispy_field }}
                                </div>
                            </div>
                            <!--<div class="form-row">
                                <div class="form-group col-md-2">
                                    <div id="div_id_comprobantes" class="form-group">
                                        <label for="id_comprobantes" class="">
                                            Subir Comprobantes de Pago
                                        </label>
                                        <div class="dropzone" id="MyDrpzone">
                                            <div class="fallback">
                                                <input name="comprobantes" type="file" multiple />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <input type = "submit" value="Cargar" class = "btn btn-secondary" id="submit-btn">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                
                </form>
            </div>
            <div class="col-md-4">

                <div class="card-header bg-secondary text-center text-white ">
                    <h4>Subir Comprobantes de Pago</h4>
                </div> 
                <div class="card bg-light border border-dark">
                <br>
                <form action="{% url 'git:subir_comprobantes' %}" method= "POST" class="dropzone" id="MyDrpzone">
                    {% csrf_token %}
                    <input type="hidden" name="adjudicacion" value="{{adjudicacion}}" />
                    <div class="fallback">
                    <input name="file" type="file" multiple />
                    </div>
                </form>
            </div>
        </div>
        </div>

{% endif %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left">
                <a href="{% url 'git:planes' %}"><strong> Volver </strong></a>
            </div>
        </div>
    </div>        

<script type="text/javascript">
    $(document).ready(()=>{
        $('#submit-btn').on('click',()=>{
            $('#MyDrpzone').submit()
        })
    })
</script>
{% endblock %} 
