{% extends "base.html" %}
{% block title %} GIMA{% endblock %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h3>Patentes</h3>
            <div class="text-right" style="margin-top:-3.5vh">
                <button  id="show-subir" onclick="$('#subir-card').show();$(this).hide();$('#hide-subir').show()" class="btn btn-secondary">Subir</button>
                <button id="hide-subir" onclick="$('#subir-card').hide();$(this).hide();$('#show-subir').show()"  class="btn btn-secondary" style="display:none;">Cancelar</button>
            </div>
        </div>
    </div>
</div>        
<br/>

{% if submitted %}
<div class="container-sm">
    <div class="card">
        <div class="card-header">
            <h5>La operación se realizó con éxito!</h5>
        </div>
    </div>
</div>
{% elif error %}
<div class="container-fluid">
    <div class="card">
        <div class="card-header alert-danger">
            <h3 class="text-danger">Error</h3>
        </div>
    </div>
</div>        
<br/>

{% endif %}  

{%for message in messages%}
    <p>{{message}}</p>
    {% endfor %}

<br/>
<div class= 'container'id="subir-card" style="display:none;">
    <div class="row" >
        <div class="col-1">
        </div>
        <div class="col-10">
            <br>
            <br>
        
            <div class="card-header bg-secondary text-center text-white">
                <h4>Subir Patentes</h4>
            </div> 
            <div class="card bg-light border border-dark">
                <br>
                <form action="{% url 'git:subir_patentes' %}" method= "POST" class="dropzone" id="MyDrpzone">
                {% csrf_token %}
                <select class="form-control" name="seccion">
                    {% for sec in secciones %}
                    <option value="{{sec.seccion}}">{{sec.seccion}} - {{sec.apellido}}, {{sec.nombre}}</option>
                    {% endfor %}
                </select>
                <div class="fallback">
                    <input name="file" type="file" multiple />
                </div>
                
                </form><button type="button" id="submit-btn" class="btn btn-info">Subir</button>
            </div>
            <br>
            <br>
            <br>
        </div>

    </div>
</div>

<form method="get" enctype="multipart/form-data" id="filter-form">
    {% csrf_token %}
    <div class="container border border-dark bg-light p-3">
        <div class="row">
            <div class='col-md-12'>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        {{filtro_patentes.form.seccion|as_crispy_field}}
                    </div>
                    <div class="form-group col-md-3">
                        {{filtro_patentes.form.cuit|as_crispy_field}}
                    </div>
                    <div class="form-group col-md-3">
                        {{filtro_patentes.form.titular|as_crispy_field}}
                    </div>
                    <div class="form-group col-md-3">
                        {{filtro_patentes.form.dominio|as_crispy_field}}
                    </div>
                   
                    <div class="form-group col-md-1">
                        <input type = "submit" value="Buscar" class = "btn btn-secondary"  style="margin-top:1.9rem;">
                    </div>
                </div>
                
            </div>
        </div>
    </div>
<br>

<div class="container-fluid" style="padding:0px 2vw 0px 2vw">
    <div class="row">
        <table class="table-bordered table-hover border-light align-middle text-center" style="width:100%">
            <thead>
                <tr class="table-active">
                    <th scope = "col align-middle text-center">Sección</th>
                    <th scope = "col">Dominio</th>
                    <th scope = "col">Estado</th>
                    <th scope = "col">Titular</th>
                    <th scope = "col">CUIT</th>
                    <th scope = "col">Direccion</th>
                    <th scope = "col">Localidad</th>
                    <th scope = "col">Provincia</th>
                    <th scope = "col">CPA</th>
                    <th scope = "col">Marca</th>
                    <th scope="col">Modelo</th>
                    <th scope = "col">R.S. Tit./Rad.</th>
                    <th scope = "col">Pje. Tit.</th>   
                    <th scope = "col">Fecha</th>   
                </tr>
            </thead>
        <tbody>
            {% for patente in patentes %}
            <tr>
                <td class="align-middle text-center">{{patente.seccion_id}}</a></td>
                <td class="align-middle text-center"><a href="{% url 'git:ver_patente' dominio=patente.dominio %}" target="_blank">{{patente.dominio}}</a></td>
                <td class="align-middle text-center">{% if patente.vigente %} Vigente {% else %} No vigente {% endif %}</td>
                <td class="align-middle text-center">{{patente.titular}}</td>
                <td class="align-middle text-center"> {{patente.cuit}}</td>
                <td class="align-middle text-center">{{patente.direccion}}</td>
                <td class="align-middle text-center">{{patente.localidad}}</td>
                <td class="align-middle text-center">{{patente.provincia}}</td>
                <td class="align-middle text-center">{{patente.cpa}}</td>
                <td class="align-middle text-center">{{patente.marca}}</td>
                <td class="align-middle text-center">{{patente.modelo}}</td> 
                <td class="align-middle text-center">{{patente.rad}}</td>
                <td class="align-middle text-center">{{patente.pje_tit}}%</td>
                <td class="align-middle text-center">{{patente.fecha}}</td>
                
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>

<br>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if patentes.has_previous %}
        <li class="page-item"><button type="submit" name="page" class="page-link" value="1">&laquo Primera</button></li>
        <li class="page-item"><button type="submit" name="page" class="page-link" value="{{patentes.previous_page_number}}">Previa</button></li>
        {% endif %}
        

        <li class="page-item disabled"><a href="#" class= "page-link">Página {{ patentes.number }} of 
            {{ patentes.paginator.num_pages }}</a></li>
        
        {% if patentes.has_next %}
        <li class="page-item"><button type="submit" name="page" class="page-link" value="{{patentes.next_page_number }}">Siguiente</button></li>
        <li class="page-item"><button type="submit" name="page" class="page-link" value="{{ patentes.paginator.num_pages }}"> Última &raquo </button></li>
        {% endif %}
    </ul> 
</nav>
</form>
<br>
        

<script type="text/javascript">
    $(document).ready(()=>{
        $('#submit-btn').on('click',()=>{
            $('#MyDrpzone').submit()
        })
    })
    /*$('#ordenar').on('change',()=>{
        $('#filter-form').submit()
      })
    $(document).ready(()=>{
        $('#ordenar').val('{{ordenar}}')
      })*/
</script>
{% endblock %} 